div.content {
  display: flex;
  justify-content: flex-end;
}

h1 {
  color: #ffffff;
  text-align: center;
}

.container {
  display: flex;
  max-width: 50%;
  flex-basis: 80%;
  flex-direction: column;
  align-items: stretch;
  margin: auto;
}

div.enter_name {
  color: white;
  font-weight: bold;
}

div.friend_list {
  background-color: #ffffffee;
  display: flex;
  min-width: 200px;
  max-width:400px;
  flex-basis: auto;
  flex-direction: column;
  border-radius: 8px;
  padding: 5px 10px;
  margin: 10px;
}

html {
  background: url(images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
