.message-window {
  height: 300px;
  overflow-y: scroll;
  background-color: #ffffffee;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 5px 10px;
  margin: 10px;
}

input {
  box-shadow: inset 0px 0px 0px 0px red;
}

.message {
  align-self: flex-start;
  width: 80%;
  background-color: #ffffff;
  border: 1px solid #c7e2c9;
  padding: 4px;
  border-radius: 4px;
  margin: 5px 0;
}

.message-self {
  align-self: flex-end;
  background-color: #f5fbef;
  border: 1px solid #c7e2c9;
}

.message-service {
  color: red;
  background-color: black;
  width: 100%;
}

.message-username {
  font-size: 12px;

  font-weight: bold;
  color: #5a352a;
}

.message-text {
  font-size: 15px;
}
